*{
  padding: 0px;
  margin: 0px;
  
}
/*guilherme@gvbim.com*/
a{
  color: beige;
  text-decoration: none;
  transition: 0.5s;
  font-family: 'Roboto Mono', sans-serif;
}

a:hover{
  opacity: 0.7;
}

.logo{
  width: 400px;
  position: initial;
  text-transform: uppercase;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: black;
  height: 8vh;
}
main{
  background: url(./img/fundo.jpg) no-repeat center center ;
  background-size: cover;
  height:80vh;
  box-shadow: #23232e;
}

.textos{
  text-align: center;
  color:rgb(231, 231, 231);
  
  /* Centralizar na vertical e na horizontal */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
h2{
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Lato', sans-serif;
  overflow-wrap: hidden;
}
h3{
  font-size: 40px;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}


/*Barra de navegação*/
.nav-list{
  list-style: none;
  display: flex;
  
}
.nav-list li{
  letter-spacing: 2px;
  margin-left: 32px;
}
.mobile-menu{
  display: none;
  cursor: pointer;
}
.mobile-menu div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px; 
}
@media (max-width: 999px) {
  .logo{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
  }
  #centro, #subtitulo{
    font-size: 30px;
    overflow-wrap: hidden;
    justify-content: center;
  }
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 80vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


/*BOX*/


.flex{
  display: flex;
  height: 30vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
}
h1{
  color: rgb(146, 146, 146);
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
}

p{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  margin-top: auto;
  justify-content: center;
  align-items: center;
}
.barra{
  width: 100%;
  height: 30vh;
  background-color: rgb(0, 0, 0);
}

  /*.barra2{
    background-color: #23232e;
    width: 100%;
    height: 30vh;
    }
    box{
      width: 50%;
    }*/